
<!-- TOP HEADER STARTS -->

<div class="header bg-light" [style.width.px]="setHeaderWidth()">
    <div class="logo logo-adcomsys"><img [style.width.px]="getImageWidth()" src="/assets/images/adcomsys.webp" alt=""></div>
  
    <!-- navigation bar component : go to /app/components/navigation to edit -->
    <app-navigation (linkClicked)="scrollToSection($event)" ></app-navigation>
  
    <div class="colleges">
      <div class="logo logo-iem"><img [style.width.px]="getImageWidth()" src="/assets/images/iem.webp" alt=""></div>
      <div class="logo logo-uem"><img [style.width.px]="getImageWidth()" src="/assets/images/uem.webp" alt=""></div>
    </div>  
</div>


  <!-- HEADER ENDS -->
  
  <div class="heading">
    <h2 [style.fontSize.px]="getFontSize()">First International Conference <br> on Advanced Computing <br> Systems</h2>
    <span></span>
  </div>
  
  <div class="main">
  
  
    <section class="home" id="section1">
     <app-home></app-home>
    </section>
  
  
    <section class="about" id="section2">
      <app-about></app-about>
    </section>
  
  
    <section class="partners" id="section3">
      <app-partner></app-partner>
    </section>

    <section class="partners" id="section4">
      <app-countdown></app-countdown>
    </section>
  
    <section class="events" id="section5">
      <app-events></app-events>
    </section>

    <section class="team" id="section6">
      <app-teams></app-teams>
    </section>
  </div>

 