<section class="about-uem container">
  <h3 class="text-center lead">|About UEM</h3>

  <div class="college" style="margin-top: 18px">
    <div class="college-image bg-dark">
      <img src="/assets/images/uem2.png" alt="" />
    </div>

    <div class="college-text">
      <span class="blockquote">
        UEM Kolkata is established in the year 2014 by Act No 25 of 2014 of Govt
        of West Bengal. Being located in New Town, the Smart City of Eastern
        India and very near to the Netaji Subhash International Airport, the
        students of the University are exposed to the top corporates. UEM
        Kolkata has stood one out of the top 10 institutes of India including
        all IITs and all NITs of the country in the NPTEL program ranked by IIT
        Kharagpur and IIT Chennai. The IEM UEM group is an acclaimed educational
        group amongst the industry-centred academic training organisations of
        today. IEM has set sublime standards in addressing the technical and
        managerial resource shortage in the new era of dynamic globalisation.
        The IEM UEM group has risen to fame for its strong foundation in
        teaching and R&D in multifaceted areas. It aims to serve the future
        generation as well as the Nation through its commitment towards self
        sufficiency and unmatchable excellence. Since its inception, the IEM UEM
        group has surpassed innumerable benchmarks of achievements and
        accreditations. Today IEM flaunts a colossal network of expansive
        operations led by an awe-inspiring student force who are the
        torchbearers of a better tomorrow. The IEM UEM Group has opened up the
        doors for young minds who dare to dream. It encourages the spirit of
        free enquiry and imagination.
      </span>
    </div>
  </div>
</section>
