<section class="about-uem container">
  <h3 class="text-center lead" style="color: white">|About UEM</h3>

  <br />

  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active text-center">
        <div class="content">
          <span style="color: white; z-index: 100" class="blockquote">
            UEM Kolkata is established in the year 2014 by Act No 25 of 2014 of
            Govt of West Bengal. Being located in New Town, the Smart City of
            Eastern India and very near to the Netaji Subhash International
            Airport, the students of the University are exposed to the top
            corporates.
          </span>
    
          <img src="assets/images/uem.png" alt="">

         
        </div>
      </div>
      <div class="carousel-item text-center">
        <div class="content">
          <span style="color: white; z-index: 100" class="blockquote">
            UEM Kolkata has stood one out of the top 10 institutes of India
            including all IITs and all NITs of the country in the NPTEL program
            ranked by IIT Kharagpur and IIT Chennai. The IEM UEM group is an
            acclaimed educational group amongst the industry-centred academic
            training organisations of today. IEM has set sublime standards in
            addressing the technical and managerial resource shortage in the new
            era of dynamic globalisation. The IEM UEM group has risen to fame
            for its strong foundation in teaching and R&D in multifaceted areas.
            It aims to serve the future generation as well as the Nation through
            its commitment towards self sufficiency and unmatchable excellence.
            Since its inception, the IEM UEM group has surpassed innumerable
            benchmarks of achievements and accreditations. Today IEM flaunts a
            colossal network of expansive operations led by an awe-inspiring
            student force who are the torchbearers of a better tomorrow. The IEM
            UEM Group has opened up the doors for young minds.
          </span>

          <img src="assets/images/uem2.jpeg" alt="">
        </div>
      </div>
      <div class="carousel-item text-center">
        <div class="content">
          <span style="color: white; z-index: 100" class="blockquote">
            In this temple of learning, dreams take shape. The educational group
            attempts to inculcate the sense of human values and discipline in
            students to make them respectable human beings. It encourages
            learners to learn, to realize their potential and imbibe the best
            practices.
          </span>

          <img src="assets/images/uen1.jpeg" alt="">
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
