<div class="container" appAnimateOnScroll>

    <h1>Our Partners</h1>

   <!-- Add partner logos here -->
    <div class="partners">
        <div class="partner">
            <h2>Community Partner</h2>

            <div class="items">
                <div class="item" *ngFor="let partner of communityPartners">
                    <img [src]="partner.logoUrl" alt="">
                </div>
            </div>
        </div>

        <div class="partner">
            <h2>Technical Partner</h2>

            <div class="items mt-2">
                <div class="item"*ngFor="let partner of technicalPartners" id="gfg">
                    <img [src]="partner.logoUrl" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
