.container h1
{
margin-top: 12px;
font-size: 90px;
text-align: center;
font-family: "Sedan SC", serif;
font-weight: 400;
font-style: normal;
color: white;
}

.partners
{
 
}

.partner
{
    margin-top: 15px;
}

.partner h2
{
    color: white;
    font-family: "Sedan SC", serif;
    text-align: center;
}

.items
{
display: flex;
justify-content: space-around;
}


.item img
{
    width: 200px;
    border-radius: 200px;
}

.item
{
    transition: all 0.5s ease-in;
    object-fit: cover;
}

.item:hover
{
    cursor: pointer;
    transform: scale(1.1);
}


#gfg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 200px;
}




@media only screen and (max-width: 1000px) {

    .container h1
    {
        font-size: 16px;
    }

    .items
    {
        flex-direction: column;
        align-items: center;
    }

    .item
    {
        margin-top: 22px;
    }

    .item img
    {
        width: 150px;
    }

    #gfg
    {
        height: 150px;
        width: 150px;
    }
}