

<div class="main-heading">
    <h1>Adcomsys 2024</h1>
</div>

<section class="about-adcomsys container">
    <h3  class="text-center lead" style="color: white;">|About Adcomsys</h3>
    <span style="color: white;display: flex; width: 100%; color: white; justify-content: center;" class="blockquote">
        The University of Engineering & Management is proud to present Adcomsys,
         the First International Conference on Advanced Computing and Systems. 
         Scheduled for June 26th and 27th, this groundbreaking event promises to be a convergence of innovative ideas, 
         cutting-edge research, and industry expertise. 
         Adcomsys aims to foster collaboration and knowledge exchange among leading researchers, academics,
        and practitioners in the field of advanced computing and systems. With a diverse range of keynote speeches, 
        paper presentations, and panel discussions, attendees can expect to gain insights into the latest developments 
        and trends shaping the future of computing and systems. Whether you're a seasoned professional or an aspiring 
        researcher, Adcomsys offers a platform to network, learn, and contribute to the advancement of technology. 
        Join us at Adcomsys as we explore new frontiers in computing and systems together.
    </span>
</section>

<br>
<h3  class="text-center lead" style="color: white;">|Contact Us</h3>


<section class="contact">
    <ul>
        <li><a href="http://linkedin.com/company/geeksforgeeksuemk/"><i class="fa-brands fa-linkedin" [style.fontSize.px]="iconsFont()"></i></a></li>
        <li><a href="https://www.youtube.com/@GeeksforGeeksUEMK/"><i class="fa-brands fa-youtube" [style.fontSize.px]="iconsFont()"></i></a></li>
        <li><a href="https://instagram.com/geeksforgeeksuemk"><i class="fa-brands fa-instagram" [style.fontSize.px]="iconsFont()"></i></a></li>
        <li><a href="https://facebook.com/geeksforgeeksuemk/"><i class="fa-brands fa-facebook" [style.fontSize.px]="iconsFont()"></i></a></li>
        <li><a href="https://wa.me/+918348284337" target="_blank"><i class="fa-brands fa-whatsapp" [style.fontSize.px]="iconsFont()"></i></a></li>
        <li><a href="mailto:diptadip.biswas@adcomsys.digital" target="_blank"><i class="fa-solid fa-envelope me-1" [style.fontSize.px]="iconsFont()"></i></a></li>
    </ul>
</section>







