/* timeline.component.css */

.container
{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

h1
{
  font-family: "Sedan SC", serif;
}

.event-timeline
{
  font-size: 90px;
}


.timeline {
    display: flex;
    flex-direction: column;
  }
  
  .timeline-item {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
  }

  .left {
    align-self: flex-start;
    border-left: 9px solid #ccc;
    border-right: none;
  }
  
  .right {
    align-self: flex-end;
    border-right: 9px solid #ccc;
    border-left: none;
  }
  
  .timeline-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: white;
    font-family: "Sedan SC", serif;
   
  }



  
  .timeline-content h3 {
    margin-top: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
  }
  
  .timeline-content p {
    margin-bottom: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
  }
  
  .date {
    font-size: 24px;
    opacity: 0;
    transition: all 0.5s ease-in;
  }

  .time
  {
    font-size: 24px;
    opacity: 0;
    transition: all 0.5s ease-in;
  }
  .register-btn
{
  width: 180px;
  opacity: 0;
  transition: all 0.5s ease-in;
}


  .timeline-content img {
    margin-top: 18px;
    border-radius: 18px;
    /* Ensure image fits within its container */
    width: 300px;
    margin-bottom: 10px; /* Add spacing below the image */
    transition: all 0.5s ease-in;
    transform: translateY(20%);
  }

  .timeline-content:hover img
  {
    transform: translateY(-10%) scale(0.9);
    cursor: pointer;
  }

  .timeline-content:hover .date
  {
opacity: 1;
  }

  .timeline-content:hover .time
  {
    opacity: 1;
  }

  .timeline-content:hover h3
  {
    opacity: 1;
  }

  .timeline-content:hover p
  {
    opacity: 1;
  }

  .timeline-content:hover .register-btn
  {
    opacity: 1;
  }




  

  @media only screen and (max-width: 600px){

    .event-timeline
    {
      font-size: 22px;
    }

    .event-image
    {
      width: 200px;
    }
  }

  @media only screen and (max-width: 1000px) {

    .left,.right{
      border: none;
    }
    .event-image
    {
      width: 150px;
    }
    
    .event-timeline
    {
      font-size: 22px;
    }
    
    .timeline-content
    {
      justify-content: center;
      align-items: center;
    }

    .timeline-content img
    {
      width: 300px;
    }

    .line
    {
      display: none;
    }
    .left-line
    {
      display: none;
    }

    .right-line
    {
      display: none;
    }
}