
body
{
  overflow-x: hidden;
  background-color: black;
}

.animated {
    animation: fadeIn 3s ease forwards;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }