<div class="navbar">
    <ul class="bg-light">
        
        <li class="list">
            <a href="#" (click)="onLinkClick('section1')">
                <div class="icon"><i class="fa-solid fa-home"></i></div>
                <div class="txt">Home</div>
            </a>
        </li>

        <li class="list">
            <a  (click)="onLinkClick('section2')">
                <div class="icon"><i class="fa-regular fa-address-card"></i></div>
                <div class="txt">About Us</div>
            </a>
        </li>

        <li class="list">
            <a (click)="onLinkClick('section3')">
                <div class="icon"><i class="fa-solid fa-calendar-week"></i></div>
                <div class="txt">Events</div>
            </a>
        </li>

        <li class="list">
            <a  (click)="onLinkClick('section3')">
                <div class="icon"><i class="fa-solid fa-people-arrows"></i></div>
                <div class="txt">Management Team</div>
            </a>
        </li>

        

    </ul>
</div>